#pageLanding{
    background-color: #f0f0f0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pageLanding .content-wraper{
    max-width: 1920px;
    width: 80vw;
    max-height: 1080px;
    height: 80vh;
    left: 71px;
    top: 147px;
    display: flex;
    

    background: #FFFFFF;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
}

.content-wraper .header{
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 1px rgba(204, 204, 204, 0.25) solid;
}

.header h1{
    font-size: 5rem;
    /* color: #1889F2; */
    
    color: linear-gradient(90deg,#1889F2 0%, rgb(255, 174, 0) 100%);

}

.header p {
    color: #555;
    max-width: 375px;
}


.content-wraper .logon-container{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logon-container form{
    display: flex;
    flex-direction: column;
}

.logon-container input{
    width: 250px;
    height: 42px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 10px;
    margin-bottom: 15px;
}
.logon-container button{
    width: 250px;
    height: 42px;
    box-sizing: border-box;
    border-radius: 10px;
    background: #1877F2;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    color: #fff;
}

.logon-container input:focus{
    border: 1px solid #1877F2;
}