#page-register {
    background-color: #eee;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .register-header {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-left: 1px rgba(204, 204, 204, 0.25) solid;
}

.container form {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#page-register .container .register-header img {
    width: 30%;
}

#page-register .container .register-header h1 {
    margin: 32px 0 16px;
    font-size: 32px;
}

#page-register .container .register-header p {
    font-size: 14px;
    color: #737380;
    line-height: 20px;
    margin-left: 10px;
    max-width: 280px;
}

.back-link svg {
    margin: 0px 25px 0 0;
    height: 100%;
    width: 20px;
    align-self: center;
    justify-self: center;
}

.form-container button {
    width: 80%;
    max-width: 250px;
    height: 36px;
}

.form-container input {
    height: 36px;
}

.form-container .single-input {
    border-radius: 10px;
    width: 80%;
}

#page-register .container form .input-group {
    display: flex;
    width: 80%;
}

.form-container .input-group .city {
    border-radius: 10px 0px 0px 10px;
    width: 80%;
}

.form-container .input-group .uf {
    border-radius: 0px 10px 10px 0px;
    width: 20%;
}

@media only screen and (max-width: 730px) {
    #page-register {
        background-color: #fff;
    }
    #page-register .container {
        flex-direction: column-reverse;
        box-shadow: none;
        width: 90vw;
        height: 100vh;
    }
    #page-register .container .register-header img {
        margin-top: 30px;
    }
    .container .register-header {
        border-left: none;
    }
}